@use 'tailwindcss';

@import '@mantine/core/styles.css';
@import '@mantine/dates/styles.css';
@import 'mantine-react-table/styles.css';
@import '@mantine/notifications/styles.css';

@theme {
  --color-onyx: #12141a;
  --color-cinder: #232833;
  --color-success: #19a959;
  --color-attention: #ed3e41;
  --color-attention-700: #8c0d0f;
}
